.offer-two {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "card card img img"
                          "card card img img";

        img {
            position: relative;
            grid-area: img;
            width: 673px;
            height: 650px;
        }

        .info {
            text-align: center;
            position: relative;
            left: 750px;
            bottom: 600px;

            h1 {
                color: $color-white;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
        }

        .cards {
            margin-left: 80px;
            padding-right: 20px;
            grid-area: card;
            text-align: center;

            h1 {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .card {
                border: none;
                margin-right: auto;
                margin-left: auto;

                .card-img {
                    background-color: $linear-gradient-light;

                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 210px;
                    }

                    .card-menu {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        display: block;


                        .menu-link {
                            background-color: $color-white;
                            color: $color-dark;
                            width: 36px;
                            height: 35px;
                            margin-bottom: 15px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 0 6px 4px $color-shadow;
                            position: relative;
                            border: none;
                            outline: none;
            
                            &:hover {
                                color: $color-white;
                                background-color: $color-dark;
                                text-decoration: none;
                            }
                        }
                    }

                    .btn-card-theme {
                        position: absolute;
                        bottom: 177px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 50px;
                    } 
        
                }
                .card-body {
                    text-align: center;
        
                    .card-category {
                        font-size: 13px;
                        font-weight: 500;
                        color: $color-darkgray;
                    }
                    .card-title {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    .card-rating {
                        color: $color-theme;
                    }
                    .card-price {
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
        
                &:hover {
                    .card-menu {
                        display: block !important;
                    }
                    .btn-card-theme {
                        display: flex !important;
                    }
                }

            }
        }
    }
}