.offerAndCards {
    .container {

        img {
            position: relative;
        }

        .info {
            position: relative;
            bottom: 340px;
            right: 300px;
            text-align: center;

            h1 {
                color: $color-white;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
        }
    }
}